.page-title {
  color: white;
  font-family: Orbitron;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}

.marketplace {
  font-family: 'Orbitron';
  color: white;
  text-align: center;
  width: 100%;
}

.page-selector {
  /* position: relative; */
  /* left: 100px; */
  margin-bottom: 15px;
  margin: auto;
}

.plane-grid {
  /* position: relative; */
  width: 80% !important;
  margin: auto !important;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.planes-to-buy {
  width: 50% !important;
}

.planes-to-sell {
  width: 50% !important;
}


.single-plane {
  min-height: 350px !important;
  min-width: 250px !important;
  padding: none !important;
  margin: auto;
  /* left: 20% !important; */
}

.plane {
  width: 100% !important;
  min-height: 300px !important;  
  margin: auto !important;
}

.canvas-plane {
  position: relative !important;
  left: 6% !important;
  top: 12px !important;
}

.plane-menu {
  background-color: gray !important;
  min-height: 50px !important;
}

.plane-column {
  min-height: 350px !important;
  min-width: 250px !important;
}