.leaderboard {
    text-align: center;
    padding-left: 40%;
    color: white;
    text-align: center;
}

.table-header {
    color: white !important;
    text-align: center !important;
    font-size: 30px;
}

.cell-player {
    color: white;
    /* text-align: center !important; */
    align-self: center;
    font-size: 24px;
    border-style: solid !important;
    border-width: thin !important;
    border-top: #352d2d !important;
    border-left: #352d2d !important;
}

.cell-player-bottom {
    color: white;
    /* text-align: center !important; */
    align-self: center;
    font-size: 24px;
    border-style: solid !important;
    border-width: thin !important;
    border-left: #352d2d !important;
    border-bottom: none !important;
}

.cell-player-header {
    color: white;
    /* text-align: center !important; */
    align-self: center;
    font-size: 24px;
}

.cell-score {
    color: white;
    text-align: center !important;
    align-self: center;
    font-size: 24px;
    border-style: solid !important;
    border-width: thin !important;
    border-top: #352d2d !important;
    border-right: #352d2d !important;
}

.cell-score-bottom {
    color: white;
    text-align: center !important;
    align-self: center;
    font-size: 24px;
    border-style: solid !important;
    border-width: thin !important;
    border-right: #352d2d !important;
    border-bottom: none !important;
}

.cell-rank {
    color: white;
    text-align: center !important;
    font-size: 24px;
    border-style: solid !important;
    border-width: thin !important;
    border-top: #352d2d !important;
    border-left: #352d2d !important;
}

.cell-rank-bottom {
    color: white;
    text-align: center !important;
    font-size: 24px;
    border-style: solid !important;
    border-width: thin !important;
    border-left: #352d2d !important;
    border-bottom: none !important;
}

