.plane {
  font-family: 'Orbitron';
  color: white;
  text-align: center;
  /* width: 100%; */
  /* margin-left: 50%; */
  border: 1px solid white;
}

.highlight {
  color: red
}

@keyframes border-pulsate {
  0%   { border-color: white; }
  50% { border-color: rgba(0, 255, 255, 0); }
  100%   { border-color: white; }
}

.blinking-border {
  /* margin: 20px auto; */
  border: 2px solid white;
  animation: border-pulsate 750ms infinite;
}