html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.userrow {
  /* padding-top: 1.5%;
  padding-left: 2%;
  background-color: #000000;
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-right: 2%; */
  display: flex;
  margin-top: 5%;
  padding-top: 1.5%;
  padding-left: 3%;
  background-color: #000000;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  color: #fff;
  text-align: center;
  font-family: 'Orbitron';
  height: 40%;
  width: 100% !important;
  padding-left: 5%;
}

.profilepic {
  /* margin-left: 3%;
  border: 1px solid #ffffff; */
}

.joined {
  text-align: center;
  font-size: 120%;
}

.username {
  padding-top: 25%;
  font-size: 500%;
  margin-left: 3%;
  text-align: left;
}

.points {
  padding-top: 25%;
  margin-right: 3%;
  font-size: 500%;
  text-align: right;
}

.searchbar {
  margin-left: 25%;
  margin-bottom: 15px !important;
}

/* .borderfriends {
  border-bottom: 1px solid #ffffff;
} */

.text1 {
  color: #fff;
  font-family: 'Orbitron';
font-size: 120%;
margin-right: 3%;

}

.text2 {
  color: #fff;
  font-family: 'Orbitron';
font-size: 120%;
margin-right: 3%;
margin-left: 3%;

}

.searchusersbar {
  padding-right: 20%;
}

.score2 {
  padding-top: 3%;
  font-family: 'Orbitron';
  margin-left: 40%;
  text-align: right;
  font-size: 200%;
  color: #fff;
}

.username2 {
  font-size: 500%;
  margin-left: 3%;
  text-align: left;
  padding-top: 25%;
}

.inner {
  width:100%;
  height:67%;
  position: absolute;
        overflow: auto;
}

.norequests {
  color: #fff;
  font-family: 'Orbitron' !important;
  text-align: center !important;
}

.friendsbg {
  background-color: black;
  height: 100% !important;
    bottom: 0;
}

.friend-score-column {
  width: 33% !important;
  margin-left: auto;
  margin-right: 5%;
}

.friend-profile-score {
  padding-top: 3%;
  font-family: 'Orbitron';
  margin-left: 40%;
  text-align: right;
  font-size: 200%;
  color: #fff;
}